@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1> Üye Ol </h1>
        <br></br>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="User" asp-action="Register" method="post" novalidate>
            <div class="mb-3">
                <label asp-for="UserNickName" class="form-label"></label>
                <input asp-for="UserNickName" class="form-control">
                <span asp-validation-for="UserNickName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control">
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserSurname" class="form-label"></label>
                <input asp-for="UserSurname" class="form-control">
                <span asp-validation-for="UserSurname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserDescription" class="form-label"></label>
                <input asp-for="UserDescription" class="form-control">
                <span asp-validation-for="UserDescription" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="UserEmail" class="form-label"></label>
                <input asp-for="UserEmail" class="form-control">
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>
            <button type="submit" class="btn btn-primary">Register</button>

        </form>
    </div>



</div>



