@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> MEETING OF BUSINESS MEN & WOMEN </p>
    <p> TO USE EVERTHING WE PROVİDE, PLEASE JOIN OUR COMMUNITY </p>
    <hr></hr>
    <p> CHEKINGS: YOUR ACCOUNT NEEDS TO BE CHECKED FOR YOU TO BE ABLE TO SEE EVERY PRESENTED CONTENT </p>
    <hr></hr>
    <p> USAGE OF APP: </br>1-YOU CAN SEE POSTED PRODUCTS FROM APPROVED USERS<br>2-YOU CAN USE CATEGORY MENU TO SEE RELATED PRODUCTS</br>3-YOU CAN USE SEARCHBAR TO SEE EVERY DIFFERENT CONTENT BY THEIR NAMES <br>4-YOU CAN SEND MESSAGE TO OTHER USERS ABOUT THEIR PRODUCT, BUSINESS AND ETC.</br> 5-IF YOU ARE APPROVED YOU CAN POST YOUR PRODUCTS<br>6-WE ARE CHECKING EVERYTHING ON APP BY ADMINS</br>  </p>



</div>
