@model PPViewModel

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Left Sidebar and Main Content</title>
    <style>
        /* Basic styles */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        /* Layout container */
        .container {
            display: flex;
        }



        /* Main content styles */
        .main-content {
            flex: 1; /* Takes up remaining space */
            padding: 40px;
            background-color: #fff;
        }
    </style>
</head>

<body>
    <div class="container">

        <vc:category-menu></vc:category-menu>

        <!-- Main content -->
        <div class="main-content">
            <h4>Lately Posted Products...............................................</h4>
            @foreach (var pp in Model.ProductPosts)
            {
                <div class="card border-1 mb-8">
                    <div class="row">
                        <div class="col-12">
                            <h4><a asp-action="Details" asp-route-id="@pp.ProductPostId" class="btn-link fw-bold text-dark">@pp.ProductPostName</a></h4>
                            <p>@pp.ProductPostDesccription</p>

                        </div>
                    </div>
                </div>


            }

        </div>
    </div>
</body>

</html>

