
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <p>
        Search by User Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

@using (Html.BeginForm("Index", "SearchProduct", FormMethod.Get))
{
    <p>
        Search by Product Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}

@using (Html.BeginForm("Index", "SearchCategory", FormMethod.Get))
{
    <p>
        Search by Category Name: @Html.TextBox("searchString")
        <input type="submit" value="Search" />
    </p>
}
