
<div class="container">
    <div class="row">
        <div class="col-sm-5">
            <div class="sidebar"></div>
        </div>
        <div class="col-sm-7">
            <h3>Admin Bölgesi</h3>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <div class="sidebar"></div>
        </div>
        <div class="col-sm-8">

            <br />
            <div>
                <a href="/Admin/Users">Users</a>
            </div>
            <br />
            <div>
                <a href="/Admin/ProductPosts">Posted Products</a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="sidebar"></div>
        </div>
    </div>
</div>